<h1>Criar Curso</h1>
<form action="/cursos/create" method="POST" enctype="multipart/form-data">
    <div class="form-control">
        <label for="nome">Nome do curso:</label>
        <input type="text" name="nome" placeholder="Digite o nome do curso">
    </div>
    <div class="form-control">
        <label for="resumo">Resumo:</label>
        <textarea name="resumo"></textarea>
    </div>
    <div class="form-control">
        <label for="descricao">Descrição:</label>
        <textarea name="descricao"></textarea>
    </div>
    <div class="form-control">
        <label for="imagem">Imagem:</label>
        <input type="file" name="imagem"/>
    </div>
    <input type="submit" class="button" value="Criar">
</form>